<%- include('../layouts/main.ejs') %>
<body>
    <div class="block mx-auto my-12 p-8 bg-white w-1/2 border border-gray-200 rounded-lg shadow-lg text-gray-800"> 
        <a href="/" class=" font-bold text-center rounded-md bg-blue-500 w-full text-lg text-white
            font-semibold p-2 my-3 hover:bg-blue-600 focus:bg-blue-700">Regresar</a>
            
        <h1 class="text-3x1 font-bold text-center">Jose Carlos Jimenez Bacasegua</h1>
        <h1 class="text-3x1 font-bold text-center">Andres Castro Lopez</h1>      
        
    </div>
   
<%- include('../layouts/end.ejs') %>